<!DOCTYPE html>
<html>
<head>
    <title>Coursework</title>
    <script src='http://code.jquery.com/jquery-1.7.1.js'></script>
	<script>
	    $(function(){
        	$('table td:first-child').each(function (i) {
            	$(this).html(i+1);
			});
		});
	</script>
</head>
<body style="padding-left: 2%">
    <form action="/search/" method="get">
        <input type="text" class="form-control" placeholder="enter the group ID" name="id_group">
        <input type="submit" value="Search">
    </form>
    <p><strong>number of users in table:</strong> {{quntity}}</p>
    <table border="1" style="margin-top: 2%">
   		<tr>
    		<th>№</th>
    		<th>user IDs</th>
   		</tr>
    {% for elem in id %}
    	<tr>
    		<td></td>
    		<td> <a href="https://vk.com/id{{elem}}">id{{elem}}</a></td>
    	</tr>
    {% endfor %}
    </table>
</body>
</html>